{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    "module-resolver"
  ]
}
